# This is a template file for all required environment variables to
# start the SLPortal application in development mode. Simply copy the
# file with name .env and then your data will be read. Alternatively,
# you can also use environment variables before starting the app.

# Keycloak authentication
AUTH_ENABLED=false

# Keycloak credentials
CLIENT_ID=
CLIENT_SECRET=

# MinIO
DATA_SECURE=false
DATA_ENDPOINT=127.0.0.1:9030
DATA_BUCKET_NAME=slportal

# Database credentials
DB_USER=backend
DB_PASSWORD=

# Database connection
DB_TYPE=postgresql
DB_DRIVER=psycopg2
DB_HOST=localhost
DB_PORT=5432
DB_NAME=backend

# Database engine settings
DB_POOL_SIZE=5
DB_POOL_TIMEOUT=30
DB_POOL_RECYCLE=3600
DB_POOL_PRE_PRING=true
DB_MAX_OVERFLOW=10

# Database session settings
DB_EXPIRE_ON_COMMIT=false
DB_AUTOFLUSH=false
